node_modules/
.next/
.env
.env.local
.DS_Store

public/uploads/*
!public/uploads/.gitkeep
!public/uploads/homepage/
!public/uploads/homepage/.gitkeep
!public/uploads/products/
!public/uploads/products/.gitkeep
